<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Filters</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/1-hbnb.js') }}?cache_id={{ cache_id }}"></script>
    <style>
        li {
            position: relative;
            padding-left: 20px;
        }
        input[type="checkbox"] {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    </style>
</head>
<body>
    <ul id="amenities">
        {% for amenity in amenities %}
            <li>
                <input type="checkbox" data-id="{{ amenity.id }}" data-name="{{ amenity.name }}">
                {{ amenity.name }}
            </li>
        {% endfor %}
    </ul>
    <div id="selected-amenities">
        <h4>Selected Amenities:</h4>
        <ul id="selected-list"></ul>
    </div>
</body>
</html>
